@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import url("https://use.typekit.net/wkm0djp.css"); */

.font-headline {
  font-weight: 700;
  line-height: 1.3 !important;
}

.drawer {
  position: fixed;
  top: 0;
  z-index: 9999;
  left: calc(-210px - 5% - 1px);
  width: calc(210px + 5%);
  height: 100vh;
  max-height: 100vh;
  transition: left 0.3s ease;
}
#drawer-toggle:checked ~ .drawer {
  left: 0;
}
@media (min-width: 768px) {
  .md\:no-drawer {
    position: static;
    right: 0;
    width: auto;
    height: auto;
    transition: none;
  }
  .md\:no-drawer-toggle-label {
    display: none;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}